<ion-view title="" id="page6" class="main-bg-color">
    <ion-content padding="true" class="" overflow-scroll="false">
        <br/>
        <h2 style="font-size:22px; color:white">ADVANCED SEARCH</h2>
        <br/>
        <h4 id="advanceSearch-heading9" style="color:#fff; font-family: 'robotoreg';">Keyword Search</h4>
        <label class="item item-input" id="advanceSearch-input1"><input ng-model="keyword" type="text" placeholder=""></label>
        
        <br/>
        <h4 id="advanceSearch-heading10" style="color:#fff; font-family: 'robotoreg';">Status</h4>

        <ion-radio id="advanceSearch-radio1" ng-model="status" ng-value="1" ng-value="1" name="status">Cybercity</ion-radio>
        <ion-radio id="advanceSearch-radio2" ng-model="status" ng-value="2" name="status">Cybercenter</ion-radio>
        <ion-radio id="advanceSearch-radio3" ng-model="status" ng-value="null" name="status">Both</ion-radio>
        
        <br/>

<!--
        <h4 id="advanceSearch-heading10" style="color:#fff;">MSC Malaysia Status</h4>
        <ion-toggle toggle-class="toggle-positive" id="advanceSearch-toggle1">MSC Malaysia Status</ion-toggle>
        <br/>
-->

        <div id="advanceSearch-container9">
            <h4 id="advanceSearch-heading12" style="color:#fff; font-family: 'robotoreg';">Rental Rates</h4>
        </div>
        <div class="row" style="padding:0px; margin-top:-10px;">
            <div class="col" style="padding:0px">
                <h4 id="advanceSearch-heading13" style="color:#fff; font-size: 16px; font-family: 'robotoreg';" class="to1">From</h4>
                <label class="item item-input" id="advanceSearch-input2"><input type="text" placeholder="RM" ng-model="rentalmin"></label>
            </div>
            <div class="col" style="padding:0px;">
                <h4 id="advanceSearch-heading13" style="color:#fff; font-size: 16px; font-family: 'robotoreg';" class="to1">to</h4>
                <label class="item item-input rental1" id="advanceSearch-input3">
                <input type="text" placeholder="RM" ng-model="rentalmax">
                </label>
            </div>
        </div>
        <br/>
        <div id="advanceSearch-container9">
            <h4 id="advanceSearch-heading12" style="color:#fff; font-family: 'robotoreg';">Office Space</h4>
        </div>
        <div class="row" style="padding:0px; margin-top:-10px;">
            <div class="col" style="padding:0px">
                <h4 id="advanceSearch-heading13" style="color:#fff; font-size: 16px; font-family: 'robotoreg';" class="to1">From</h4>
                <label class="item item-input" id="advanceSearch-input2"><input type="text" placeholder="sq. ft" ng-model="spacemin"></label>
            </div>
            <div class="col" style="padding:0px">
                <h4 id="advanceSearch-heading13" style="color:#fff; font-size: 16px; font-family: 'robotoreg';" class="to1">to</h4>
                <label class="item item-input rental1" id="advanceSearch-input3">
                <input type="text" placeholder="sq. ft" ng-model="spacemax">
                </label>
            </div>
        </div>

        <div class="spacer" style="width: 300px; height: 42px;"></div>
        <button ng-click="findnow(keyword, status, msc, rentalmin, rentalmax, spacemin, spacemax)" id="advanceSearch-button13" class="button button-assertive button-block" style="background-color: #1B6C6D">SEARCH</button>

    </ion-content>
</ion-view>
