<ion-view title="" id="page8">
    <ion-content padding="false" class="manual-remove-top-padding" style="margin-top:-50px;" overflow-scroll="false">
        <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider2" delegate-handle="slider2" id="" style="width:100%;height:350px;">
            <ion-slide-page id="" ng-if="!cc.pics[0]">
                <div class="main-img" ng-if="cc.summary.cc_img == null" id="cCDetail-container6" style="background-image: url(img/default.jpg);">
                </div>
                <div class="title">
                    <h1 id="home-heading3" style="text-align:center; color:white">
                        {{cc.summary.cc_name}}
                    </h1>
                    <p style="color: white; text-shadow: 1px 1px 7px #000000;">{{cc.summary.state_name}}</p>
                </div>
            </ion-slide-page>

            <ion-slide-page ng-if="cc.pics[0]" id="" ng-repeat="pic in cc.pics track by $index">
                <div ion-img-cache-bg class="main-img" style="background-image: url('{{url + pic.url}}');"></div>
                <div class="title" ng-if="$index == 0">
                    <h1 id="home-heading3" style="text-align:center; color:white">
                        {{cc.summary.cc_name}}
                    </h1>
                    <p style="color: white; text-shadow: 1px 1px 7px #000000;">{{cc.summary.state_name}}</p>
                </div>
            </ion-slide-page>
        </ion-slides>

        <ion-list id="cCDetail-list4">
            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('summary', false)" ng-click="toggleItem('summary')" style="display: none">
                <span class="main-text-color-alt"><h3>Summary</h3></span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container3" ng-class="viewItem('summary')" style="display: none">
                <div id="cCDetail-markdown5" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">

                        <b>Total Area (acre) :</b>
                        <span ng-if="cc.summary.cc_space">{{cc.summary.cc_space | number}}</span>
                        <span ng-if="!cc.summary.cc_space">N/A</span>

                        <br />

                        <b>Total MSC Buildings :</b> {{cc.summary.total_building}}<br />
                        <b>Rental Rates (RM psf) :</b>
                        <span ng-if="!cc.summary.cc_rental_min">N/A</span>
                        <span ng-if="cc.summary.cc_rental_min">
                        {{cc.summary.cc_rental_min | number:2}}
                            <span ng-if="cc.summary.cc_rental_min !=cc.summary.cc_rental_max && cc.summary.cc_rental_max != 0 ">
                            to {{cc.summary.cc_rental_max | number:2}}
                            </span>
                        </span>
                        <br />
                    </p>
                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('date', false)" ng-click="toggleItem('date')">
                <span class="main-text-color-alt"><h3>Approval Date</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('date')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">

                    <p ng-if="cc.ccma.approval_date" style="margin-top:0px;color:#000000;" ng-bind-html="cc.ccma.approval_date"></p>
                    <p ng-if="!cc.ccma.approval_date" style="margin-top:0px;color:#000000;">N/A</p>
                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('about', false)" ng-click="toggleItem('about')">
                <span class="main-text-color-alt"><h3>About</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('about')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;" ng-bind-html="cc.ccma.about"></p>
                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('contact', false)" ng-click="toggleItem('contact')">
                <span class="main-text-color-alt"><h3>Contact Information</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('contact')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;">
                        <b>Full Name :</b>
                        <span ng-if="cc.ccma.name"> {{cc.ccma.name}}</span>
                        <span ng-if="!cc.ccma.name"> N/A</span>
                        <br />

                        <b>Email :</b>
                        <span ng-if="cc.ccma.email">{{cc.ccma.email}}</span>
                        <span ng-if="!cc.ccma.email">N/A</span>
                        <br />

                        <b>Address :</b>
                        <br />
                        <span ng-if="cc.ccma.address" ng-bind-html="cc.ccma.address">{{cc.ccma.address}}</span>
                        <span ng-if="!cc.ccma.address">N/A</span>
                        <br />

                        <b>Phone :</b>
                        <span ng-if="cc.ccma.phone_office"><a ng-href="tel: {{cc.ccma.phone_office}}">{{cc.ccma.phone_office}} <a></a></a></span>
                        <span ng-if="!cc.ccma.phone_office">N/A</span>
                        <br />

                        <b>Fax :</b>
                        <span ng-if="cc.ccma.fax">{{cc.ccma.fax}}</span>
                        <span ng-if="!cc.ccma.fax">N/A</span>
                        <br />

                        <b>Website :</b>
                        <span ng-if="cc.ccma.website"><a browse-to="{{cc.ccma.website}}">{{cc.ccma.website}}</a></span>
                        <span ng-if="!cc.ccma.website">N/A</span>
                        <br />
                    </p>
                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('map', false)" ng-click="toggleItem('map')">
                <span class="main-text-color-alt"><h3>Location Map</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4"  ng-class="viewItem('map')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots" >
                    <p ng-if="cc.ccma.gmap" style="margin-top:0px;color:#000000;"><a class="button button-positive" browse-to="{{cc.ccma.gmap}}">Link to Google Map</a></p>

                        <img ng-if="cc.ccma.map" ion-img-cache ng-src="{{url}}{{cc.ccma.map}}" style="width: 100%; height: auto;" ng-click="showImages(cc.ccma.map)" />

                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('bmap', false)" ng-click="toggleItem('bmap')">
                <span class="main-text-color-alt"> <h3>Boundary Map</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('bmap')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">

                        <img ng-if="cc.ccma.b_map" ion-img-cache ng-src="{{url}}{{cc.ccma.b_map}}" style="width: 100%; height: auto;" ng-click="showImages(cc.ccma.b_map)" />

                </div>
            </div>

            <ion-item class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('building', false)" ng-click="toggleItem('building')">
                <span class="main-text-color-alt"><h3>MSC Buildings</h3> </span>
            </ion-item>
            <div class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('building')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">
                    <div class="building">
                        <p style="margin-top:0px;color:#000000;" ng-repeat="building in cc.buildings">
                            <span class="title"><b>{{building.bd_name}}</b></span><br />
                            Total Space (sf. ft) :
                            <span ng-if="building.bd_space">{{building.bd_space | number}}</span>
                            <span ng-if="!building.bd_space">N/A</span>

                            <br />

                            Rental Rates (RM psf) :
                            <span ng-if="!building.bd_rental_min">N/A</span>
                            <span ng-if="building.bd_rental_min">
                            {{building.bd_rental_min | number:2}}
                                <span ng-if="building.bd_rental_max && building.bd_rental_max !=0">
                                - {{building.bd_rental_max | number:2}}
                                </span>
                            </span>

                            <br />
                        </p>
                    </div>
                </div>
            </div>

            <ion-item ng-if="cc.ccma.key_info" class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('key', false)" ng-click="toggleItem('key')">
                <span class="main-text-color-alt"><h3>Key Information</h3> </span>
            </ion-item>
            <div ng-if="cc.ccma.key_info" class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('key')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;"  ng-bind-html="cc.ccma.key_info"></p>
                </div>
            </div>

            <ion-item ng-if="cc.ccma.value" class="item-divider" id="cCDetail-list-item-divider3" ng-init="initShown('value', false)" ng-click="toggleItem('value')">
                <span class="main-text-color-alt"><h3>Value Proposition</h3> </span>
            </ion-item>
            <div ng-if="cc.ccma.value" class="item item-body" id="cCDetail-list-item-container4" ng-class="viewItem('value')">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">
                    <p style="margin-top:0px;color:#000000;" ng-bind-html="cc.ccma.value"></p>
                </div>
            </div>

            <div class="item item-body" id="cCDetail-list-item-container4" style="height: 100px;">
                <div id="cCDetail-markdown7" class="show-list-numbers-and-dots">

                </div>
            </div>

        </ion-list>
    </ion-content>
</ion-view>
