<ion-view title="" id="page1" class="">
    <ion-content padding="false" class="manual-remove-top-padding" style="top:0px" overflow-scroll="false">
        <ion-refresher on-refresh="doRefresh()">
            <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingSpinner="circles" refreshingText="Refreshing...">
            </ion-refresher-content>
        </ion-refresher>
        <div id="home-container5">
            <div class="home-main" style="background-image: url(img/malaysiaflag.jpg);">
                <h1 id="home-heading3" style="text-align:center; font-size:26px" class="">CYBERCITIES &amp; CYBERCENTRE IN MALAYSIA</h1>

                
            </div>
            <form id="home-form1">
                <label class="item item-input search-bar" id="home-search1">
                    <input type="search" ng-model="search.summary.cc_name" placeholder="Search here...">
                    <i ng-if="!search.summary.cc_name" class="icon ion-search placeholder-icon"></i>
                    <span ng-if="search.summary.cc_name" on-tap="clearsearchinput()"><i class="icon ion-close placeholder-icon"></i></span>
                </label>
            </form>
        </div>
        <div class="sort-div">
            <h4 id="home-heading4" style="font-size: 16px">Sort By</h4>
                <!--clear search-->
                <button ng-if="keywordFilter" class="button button-small button-outline button-assertive" ng-click="clearsearch('keyword')">
                    <i class="icon ion-close-circled"></i> {{keywordFilter}}
                </button>

                <button ng-if="statusFilter" class="button button-small button-outline button-assertive" ng-click="clearsearch('status')">
                    <i class="icon ion-close-circled"></i> {{(statusFilter == 1) ? 'Cybercity' : 'Cybercenter' }}
                </button>

                <button ng-if="rentalMinFilter" class="button button-small button-outline button-assertive" ng-click="clearsearch('rentalmin')">
                    <i class="icon ion-close-circled"></i> Rental Min: {{rentalMinFilter}}
                </button>

                <button ng-if="rentalMaxFilter" class="button button-small button-outline button-assertive" ng-click="clearsearch('rentalmax')">
                    <i class="icon ion-close-circled"></i> Rental Max: {{rentalMaxFilter}}
                </button>

                <button ng-if="spaceMaxFilter" class="button button-small button-outline button-assertive" ng-click="clearsearch('space')">
                    <i class="icon ion-close-circled"></i> Space: {{spaceMinFilter}} - {{spaceMaxFilter}}
                </button>

                <button ng-if="byState" class="button button-small button-outline button-assertive"  ng-click="clearsearch('state')">
                    <i class="icon ion-close-circled"></i>  {{byState}}
                </button>


        </div>
        <div id="home-button-bar1" class="button-bar">
            <button ng-click="tab(1)" id="home-button4" style="font-size:12px;border-radius:0px 0px 0px 0px; font-family: robotoreg" class="button button-light button-block filter-btn">View All</button>
            <button ng-click="tab(2)" id="home-button7" style="font-size:12px; font-family: robotoreg" class="button button-light button-block filter-btn">View States</button>
            <button ng-click="tab(3)" id="home-button7" style="font-size:12px; font-family: robotoreg" class="button button-light button-block filter-btn">Approval Date</button>
        </div>
        <div id="home-container3">
            <ion-list id="home-list2">

                <div ng-hide="lists.length">
                    <ion-item>
                        <p>Pull down to get the latest information</p>
                    </ion-item>
                </div>

                <div ng-if="tabtype != 'date'" ng-repeat="(key, value) in lists | orderBy: tabtype | filter:search | filter:keywordFilter | filter:statusFunc | filter:mscFilter | filter:rentalMinFunc | filter:rentalMaxFunc | filter:spaceFilter | filter:stateOnly | groupBy: tabtype">
                    <ion-item class="item-divider" id="home-list-item-divider1" ng-if="tabtype != 'date'">
                        <h3>{{key}}</h3>
                    </ion-item>

                    <ion-item ng-repeat="list in value | orderBy: 'summary.cc_name'" class="item-avatar" id="home-list-item4" ng-click="gotopage(list)">
                        <img ng-if="list.pics[0].url != null" ion-img-cache ng-src="{{url}}{{list.pics[0].url}}">
                        <img ng-if="list.pics[0].url == null" src="img/default.jpg">
                        <h2 class="">{{list.summary.cc_name}}
                            <p style="margin-top:5px;"><i class="icon ion-location"></i> {{list.summary.state_name}}</p>
                        </h2>
                    </ion-item>
                </div>

                <div ng-if="tabtype == 'date'">
                    <ion-item ng-repeat="list in lists | orderBy: '-date' | filter:search | filter:keywordFilter | filter:statusFunc | filter:mscFilter | filter:rentalMinFunc | filter:rentalMaxFunc | filter:spaceFilter | filter:stateOnly" class="item-avatar" id="home-list-item4" ng-click="gotopage(list)">
                        <img ng-if="list.pics[0].url != null" ion-img-cache ng-src="{{url}}{{list.pics[0].url}}">
                        <img ng-if="list.pics[0].url == null" src="img/default.jpg">
                        <h2 class="">{{list.summary.cc_name}}
                            <p style="margin-top:5px;"><i class="icon ion-location"></i> {{list.summary.state_name}}</p>
                            <p style="margin-top:5px;" ><i class="icon ion-calendar"></i> {{list.date | date : format : timezone}}</p>
                        </h2>
                    </ion-item>
                </div>

            </ion-list>
        </div>
    </ion-content>
</ion-view>
