<div class="modal image-modal transparent" ng-click="closeModal()">
        <ion-scroll overflow-scroll="false" zooming="true" direction="xy" class="fullscreen-image">
            <img ng-src="{{url}}{{modal_image}}" class="zoom-img" />
        </ion-scroll>
</div>

