<ion-view title="" id="page9">
    <ion-content padding="false" class="manual-remove-top-padding" style="margin-top:-50px;" overflow-scroll="false">
        <div id="information-container8">
            <div class="home-main" style="background-image: url(img/mdec.jpg);">
            </div>
            <h1 id="home-heading3" style="color:#FFFFFF;font-weight:800;text-align:center; margin-bottom: 60px; font-size:26px" class="title-main">INFORMATION</h1>
        </div>
        <ion-list id="information-list6">
            <ion-item class="item-divider" id="information-list-item-divider5" ng-init="initShown('about', false)" ng-click="toggleItem('about')">
                <span class="main-text-color-alt"> About MSC Malaysia</span>
            </ion-item>
            <div class="item item-body" id="information-list-item-container5" ng-class="viewItem('about')">
                <div id="information-markdown9" class="show-list-numbers-and-dots" style="text-align: justify;">
                    <p style="color:#000000;">MSC Malaysia is a national initiative spearheaded by the Malaysian Government to promote both the national Information and Communication Technology (ICT) industry and provide a test-bed for the global ICT industry. MSC Malaysia provides an enabling environment designed to facilitate companies to harness the full potential of ICT and multimedia technologies.</p>
                    <p style="color:#000000;">With its ideal business environment coupled with availability of talent resources, MSC Malaysia has attracted participation from major global ICT companies to develop and host their leading-edge technologies in the designated MSC Malaysia Cybercities and Cybercentres. MSC Malaysia also provides the ideal growth environment for Malaysian ICT SMEs to transform themselves into world class companies, Driving the development of this initiative is Malaysia Digital Economy Corporation (MDEC). </p>
                </div>
            </div>

            <ion-item class="item-divider" id="information-list-item-divider7" ng-init="initShown('mdec', false)" ng-click="toggleItem('mdec')">
                <span class="main-text-color-alt"> About MDEC</span></ion-item>
            <div class="item item-body" id="information-list-item-container7" ng-class="viewItem('mdec')">
                <div id="information-markdown12" class="show-list-numbers-and-dots" style="text-align: justify;">
                    <p><b style="color: black;">CHAMPIONING MALAYSIA’S DIGITAL ECONOMY</b></p>
                    <p style="color:#000000;">
                        Malaysia Digital Economy Corporation (MDEC) is the lead agency in driving the digital economy in Malaysia. Our role is to build a vibrant digital economy and ensure that Malaysia plays a leading part in the global digital revolution. We are passionate about digital technology and its potential to transform the future of our nation and the world.
                        <br/><br/> MDEC’s implementations and efforts are centred on building awareness on digital economy, creating credible talents for the industry, and encouraging digital technology adoption among the people (rakyat) and businesses. MDEC is also the agency entrusted to nurture the growth of the technology industry in Malaysia including the Small and Medium Enterprises (SMEs).
                        <br/><br/> On the global front, MDEC is responsible to ensure that Malaysia plays an integral part in digital revolution around the world, while attracting participation from global ICT companies to invest and develop cutting edge digital and creative solutions in the country.
                    </p>
                    <p><b style="color: black;">MORE THAN 20 YEARS OF NATION BUILDING</b></p>
                    <p style="color:#000000;">
                        MDEC was incorporated on 5th June 1996 and was known as Multimedia Development Corporation Sdn Bhd. The corporation was officially launched by the then Prime Minister Tun Dr. Mahathir Mohamad on 1st August 1996. We were established to strategically advise the Malaysian Government on legislation, policies and standards for ICT and multimedia operations. We were also entrusted to oversee the development of the MSC Malaysia initiative, the platform to nurture the growth of local tech companies whilst attracting foreign direct investments (FDIs) and domestic direct investments (DDIs) from global multinational companies to invest and develop cutting-edge digital and creative solutions in Malaysia.
                        <br/><br/> In 2011, our mandate was broadened to play a catalytic role in driving Malaysia’s transition towards a developed digital economy by 2020. In 2012, Digital Malaysia was official unveiled as the nation’s transformational programme to achieve this objective. Digital Malaysia is a national agenda that is fully developed with a sustainable digital economy built upon a vibrant domestic ICT industry, transformative adoption of digital solutions by government, businesses and citizens, as well as a robust enabling ecosystem.
                        <br/><br/> In 2016, coincides with the company’s 20th year anniversary, MDEC was renamed to Malaysia Digital Economy Corporation Sdn Bhd. This was inspired from our increasing focus on growing the national digital economy contribution to Malaysia’s total gross domestic product (GDP).
                    </p>


                    <p style="color:#000000;">
                        <b style="color:#000000;">OUR VISION</b>
                    </p>
                    <p style="color:#000000;">
                        As the Champion of Malaysia’s Digital Economy, our vision is for Malaysia to be a vibrant digital economy that attracts the talent and companies that are shaping the global digital industry.
                    </p>

                    <p style="color:#000000;">
                        <b style="color:#000000;">OUR MISSION</b>
                    </p>
                    <p style="color:#000000;">
                        Our mission is to help build a sustainable digital ecosystem that will drive Malaysia’s digital economy forward and benefit all Malaysians.
                    </p>
                    <p style="color:#000"><b>Address</b></p>
                    <p style="color:#000">Malaysia Digital Economy Corporation Sdn Bhd
                        <br/> 2360 Persiaran APEC
                        <br/> 63000 Cyberjaya
                        <br/> Selangor Darul Ehsan
                    </p>
                    <p style="color:#000"><b>Tel No</b></p>
                    <p style="color:#000">
                        1-800-88-8338
                        <br/>+603 8315 3000
                    </p>
                    <p style="color:#000"><b>Fax No</b></p>
                    <p style="color:#000">
                        +603 8315 3115
                    </p>
                    <p style="color:#000"><b>Website</b></p>
                    <p style="color:#000">
                       https://www.mdec.my/
                    </p>
                </div>
            </div>

            <ion-item class="item-divider" id="information-list-item-divider7" ng-init="initShown('bill', false)" ng-click="toggleItem('bill')">
                <span class="main-text-color-alt"> MSC Malaysia Bill of Guarantees</span></ion-item>
            <div class="item item-body" id="information-list-item-container7" ng-class="viewItem('bill')">
                <div id="information-markdown12" class="show-list-numbers-and-dots" style="text-align: justify;">
                    <ol style="margin-left:-20px; font-size: 14px;">
                        <li style="margin-bottom:13px; color:black">To provide a world-class physical and information infrastructure</li>
                        <li style="margin-bottom:13px; color:black">To allow unrestricted employment of local and foreign knowledge workers</li>
                        <li style="margin-bottom:13px; color:black">To ensure freedom of ownership by exempting companies with MSC Malaysia Status from 10 ownership requirements</li>
                        <li style="margin-bottom:13px; color:black">To give the freedom to source capital globally for MSC Malaysia infrastructure, and the rights to borrow funds globally</li>
                        <li style="margin-bottom:13px; color:black">To provide competitive financial incentives, including Pioneer Status (100 percent tax exemption) for up to ten years or an Investment Tax Allowance for up to five years and no duties on the importation of multimedia equipment</li>
                        <li style="margin-bottom:13px; color:black">To ensure no censorship of the Internet</li>
                        <li style="margin-bottom:13px; color:black">To provide globally competitive telecommunications tariffs</li>
                        <li style="margin-bottom:13px; color:black">To tender key MSC Malaysia infrastructure contracts to leading companies willing to use the MSC Malaysia as their regional hub</li>
                        <li style="margin-bottom:13px; color:black">To provide a high-powered implementation agency to act as an effective one-stop super shop</li>

                    </ol>
                </div>
            </div>

            <ion-item class="item-divider" id="information-list-item-divider7" ng-init="initShown('cc', false)" ng-click="toggleItem('cc')">
                <span class="main-text-color-alt"> What is Cybercities and Cybercentres</span></ion-item>
            <div class="item item-body" id="information-list-item-container7" ng-class="viewItem('cc')">
                <div id="information-markdown12" class="show-list-numbers-and-dots" style="text-align: justify;">
                    <p style="margin-top:0px;color:#000000;">MSC Malaysia Cybercities and Cybercentres are designated MSC Malaysia areas with conducive business environment that provides the ecosystem to attract ICT investors and promote the growth of local ICT companies. MSC Malaysia Bill of Guarantees No. 1 is offered to MSC Malaysia Status Companies located in the designated premises within MSC Malaysia Cybercities and Cybercentres. In general, MSC Malaysia Cybercities offers higher level of infrastructure and infrastructure service delivery compared to MSC Malaysia Cybercentres.</p>
                </div>
            </div>
        </ion-list>
    </ion-content>
</ion-view>
