<ion-view title="" id="page4">

    <ion-content padding="true" class="" style="margin-top:-100px;">
        <ion-slides disable-side-menu-drag="" options="{'loop': true}" slider="slider2" delegate-handle="slider2" id="map-slider2" style="width:100%;height:600px; padding-top:70px;">
            <ion-slide-page id="map-slide210">
                <ion-scroll overflow-scroll="false" zooming="true" direction="xy" style="width: 100%; height: 100%">
                    <div class="map-cont">
                        <div class="map1-back" style="background-image: url(img/semenanjung.jpg);"></div>
                        <div class="map1">
                            <a ng-click="gostate('Penang');" href="" class="button-map main-bg-color penang"><span class="main-text-color-alt">Penang</span></a>
                            <a ng-click="gostate('Perlis');" href="" class="button-map main-bg-color perlis"><span class="main-text-color-alt">Perlis</span></a>
                            <a ng-click="gostate('Kedah');" href="" class="button-map main-bg-color kedah"><span class="main-text-color-alt">Kedah</span></a>
                            <a ng-click="gostate('Perak');" href="" class="button-map main-bg-color perak"><span class="main-text-color-alt">Perak</span></a>
                            <a ng-click="gostate('Selangor');" href="" class="button-map main-bg-color sel"><span class="main-text-color-alt">Selangor</span></a>
                            <a ng-click="gostate('Kuala Lumpur');" href="" class="button-map main-bg-color kl"><span class="main-text-color-alt">Kuala Lumpur</span></a>
                            <a ng-click="gostate('Negeri Sembilan');" href="" class="button-map main-bg-color n9"><span class="main-text-color-alt">Negeri Sembilan</span></a>
                            <a ng-click="gostate('Melaka');" href="" class="button-map main-bg-color melaka"><span class="main-text-color-alt">Melaka</span></a>
                            <a ng-click="gostate('Johor');" href="" class="button-map main-bg-color jdt"><span class="main-text-color-alt">Johor</span></a>
                            <a ng-click="gostate('Pahang');" href="" class="button-map main-bg-color pahang"><span class="main-text-color-alt">Pahang</span></a>
                            <a ng-click="gostate('Terengganu');" href="" class="button-map main-bg-color ter"><span class="main-text-color-alt">Terengganu</span></a>
                            <a ng-click="gostate('Kelantan');" href="" class="button-map main-bg-color kel"><span class="main-text-color-alt">Kelantan</span></a>
                        </div>
                    </div>
                </ion-scroll>
            </ion-slide-page>
            <ion-slide-page id="map-slide211">
                <ion-scroll overflow-scroll="false" zooming="true" direction="xy" style="width: 100%; height: 100%">
                    <div class="map2-cont">
                        <div class="map2-back" style="background-image: url(img/sabahsarawak.jpg);"></div>
                        <div class="map2">
                            <a ng-click="gostate('Sabah');" href="" class="button-map main-bg-color sabah"><span class="main-text-color-alt">Sabah</span></a>
                            <a ng-click="gostate('Sarawak');" href="" class="button-map main-bg-color sar"><span class="main-text-color-alt">Sarawak</span></a>
                        </div>
                    </div>
                </ion-scroll>
            </ion-slide-page>
        </ion-slides>


    </ion-content>



</ion-view>
