<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-clear ios-fix-navbar">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear ion-location" style="margin-right: 5px;" ui-sref="menu.map()"></button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="side-menu21"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left" id="side-menu21">
        <ion-header-bar class="bar-stable">
            <div class="title" style="color:white">Menu</div>
        </ion-header-bar>
        <ion-content padding="false" class="side-menu-left ios-menu-fix">
            <ion-list id="menu-list5">
                <ion-item id="menu-list-item11" ui-sref="menu.home()" menu-toggle>Home</ion-item>
                <ion-item id="menu-list-item12" ui-sref="menu.map()" menu-toggle>Map</ion-item>
                <ion-item id="menu-list-item13" ui-sref="menu.advanceSearch()" menu-toggle>Advanced Search</ion-item>
                <ion-item id="menu-list-item14" ui-sref="menu.information()" menu-toggle>Information</ion-item>
                <ion-item id="menu-list-item15" ng-click="reload()" menu-toggle>Update Data</ion-item>
<!--                <ion-item id="menu-list-item14" menu-close="" ng-click="totalCache()">Total Cache Data</ion-item>-->
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
