$ionicons-font-path: "../lib/ionic/fonts" !default;
@import "../www/lib/ionic/scss";
.title-main {
	margin-top: -120px;
}

.filter-by-name {
	color: black;
}


.filter-button {
	border-radius: 0px;
}

.main-img {
	height: 400px;
}

.filter-btn {
	box-shadow: 3px 3px 10px 1px rgba(184,184,184,1);
	padding: 10px 3px;
}



 /*OVERRIDE CSS STUFF*/


