/*CUSTOM CSS STYLING*/

/*FONTS*/
@font-face {
    font-family: 'opensansReg';
    src: url('../lib/ionic/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'opensansBold';
    src: url('../lib/ionic/fonts/OpenSans-Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'opensansLight';
    src: url('../lib/ionic/fonts/OpenSans-Light.ttf') format('truetype');
}
@font-face {
    font-family: 'opensansExtraBold';
    src: url('../lib/ionic/fonts/OpenSans-ExtraBold.ttf') format('truetype');
}
@font-face {
    font-family: 'opensansSemiBold';
    src: url('../lib/ionic/fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/*new font*/
@font-face {
    font-family: 'montserratbold';
    src: url('../lib/ionic/fonts/mont/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'montserratbold2';
    src: url('../lib/ionic/fonts/mont/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'robotoreg';
    src: url('../lib/ionic/fonts/mont/Roboto-Regular.ttf') format('truetype');
}

/*END FONTS*/

h1,h2,h3{
    font-family: 'montserratbold';
    color:#252525;
}
h4{
    font-family: 'opensansSemiBold';
}
p{
    font-family: 'robotoreg';
}
/*HOME*/

.home-main {
    background-color:  #b83f3f;
    height: 240px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 90px;
}

.home-main h1{
    color: white;
    font-family: 'montserratbold2';

}
.home-main p{
    color: white;
    text-align: center;
    max-width: 300px;
    margin:0px auto;
}

#home-form1{
    margin-top:-25px;
    margin-bottom: -25px;
}

#home-search1{
    border-radius: 100px;
    border:2px solid #bbb;
    padding-right: 10px;
    background-color: #e1e1e1;
    
}
#home-search1 i{
    color:white;
    background-color:#1B6C6D;
    border-radius: 20px;
    padding: 3px 10px;
}
#home-search1 input{
    border-radius: 10px;
    background-color: #e1e1e1;
}



.main-text-color {
    color: #b83f3f;
}

.main-text-color-alt {
    color: white;
}

.main-bg-color {
    background-color: #b83f3f;
}

.main-bg-color-alt {
    background-color: white;
}

#home-heading4 {
    font-weight: 900;
    font-family: robotoreg;
}

.item-divider {
    background-color: #b83f3f;
    padding: 13px;

}

.item-divider h3 {
    font-weight: 900;
    color: #fff;
}

.item-avatar .item-content {
    background-color: white;
}

.item-avatar .item-content h2 {
    font-family: 'opensansReg';
    color: #252525;
}

.item-avatar .item-content p {
    color: #252525;
    font-weight: 500;
}

.sort-div{
    padding: 20px 0px 10px 0px;
    margin-bottom: -10px;
    text-align: center;
}

#home-container3{
    margin-top:-10px;
}

/*END HOME*/


/*MAP*/


.map-cont{
    position: relative;

}

.map-cont .map1-back{
    width: 340px;
    height: 500px;
    position: absolute;
    top:40px;
    left: -6px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.map2-cont{
    position: relative;
}
.map2-cont .map2-back{
    width: 330px;
    height: 500px;
    position: absolute;
    top:50px;
    left: -15px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.map1 .penang {
    position: absolute;
    top: 160px;
    left: 10px;
}

.map1 .perlis {
    position: absolute;
    top: 110px;
    left: 10px;
}

.map1 .kedah {
    position: absolute;
    top: 210px;
    left: 30px;
}

.map1 .perak {
    position: absolute;
    top: 250px;
    left: 60px;
}

.map1 .sel {
    position: absolute;
    top: 290px;
    left: 60px;
}

.map1 .kl {
    position: absolute;
    top: 330px;
    left: 100px;
}

.map1 .n9 {
    position: absolute;
    top: 370px;
    left: 120px;
}

.map1 .melaka {
    position: absolute;
    top: 410px;
    left: 190px;
}

.map1 .jdt {
    position: absolute;
    top: 440px;
    left: 250px;
}

.map1 .pahang {
    position: absolute;
    top: 290px;
    left: 220px;
}

.map1 .ter {
    position: absolute;
    top: 210px;
    left: 200px;
}

.map1 .kel {
    position: absolute;
    top: 140px;
    left: 160px;
}



.map2 .sabah {
    position: absolute;
    top: 220px;
    right: 50px;
}

.map2 .sar {
    position: absolute;
    top: 310px;
    left: 80px;
}

.button-map {
    border-color: none;
    padding: 3px 15px 4px;
    border-radius: 15px;
    font-size:12px;
    text-decoration: none;
    font-weight: 600;
}

#page4 .top-header-cover{

}


/*END MAP*/


/*TOP HEADER*/

.bar.bar-header h1 {
    color: black !important;
}

.scroll-content {
    overflow: visible !important;
}

.bar.bar-header {
    background: rgba(184, 63, 63, 1);
    border-bottom-width: 0;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header {
    top: 0px;
}


/*END TOP HEADER*/


/*INFORMATION*/
#page9 .home-main{
    height: 240px;
}



#page9 .item-divider{
    background-color: #B93E40;
}


/*END ADVANCE SEARCH*/


/*CC DETAIL*/
#page8{


   
}


#page8 .main-img{
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#page8 .title{
    color: black;
    text-align: center;
    margin-top:-100px;

}

#page8 .title h1{
    color: white;
    font-size:24px;
    text-shadow: 1px 1px 7px #000000;
}

#page8 .item-divider{
    background-color: #B93E40;


}

#page8 item-divider h3{
    color: white;
}
#cCDetail-list4{
    margin-top: 100px;
}

#page8 .building .title{
    font-family: robotoreg;
    font-size: 15px;

}
/*END CC DETAIL*/

#page9 .noshow p{
    display:none;
}
#page9 .noshow ol{
    display:none;
}
#page9 .isshow .show-list-numbers-and-dots{
    padding:10px 15px;
}
.isshow{
    opacity: 1;
    transition: 0.2s all ease-in-out;
    padding: 0px;
}

.noshow{
    opacity: 0;
    transition: 0.2s all ease-in-out;
    padding: 0px;


}
.isshow #cCDetail-markdown7{
    display: block;
    padding:10px;

}
.noshow img{
    display: none;
    padding: 0px;
    margin:0px;
}
.noshow #cCDetail-markdown7{
    display: none;
}

/*custom slider bullet*/
.swiper-pagination-bullet{
    background:white;
    opacity: 1;
    border:1px solid black;
}

.swiper-pagination-bullet-active{
    background: black;
    border:1px solid white;
}

/*zoom*/
.zoom-pane{
    height: 600px;
    width: 110%;
}

/*ios specific css*/


.platform-ios .ios-menu-fix{
    margin-top:10px;
}

/*Disabling platform specific tweaks */
.platform-ios.platform-cordova:not(.fullscreen) .bar-header
{
  height: 54px !important;
}
.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader)
{
  height: 54px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader).item-input-inset .item-input-wrapper
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .bar-header:not(.bar-subheader) > *
{
  margin-top: 0px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .tabs-top > .tabs, .platform-ios.platform-cordova:not(.fullscreen) .tabs.tabs-top
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-header, .platform-ios.platform-cordova:not(.fullscreen) .bar-subheader
{
  top: 44px !important;
}

.platform-ios.platform-cordova:not(.fullscreen) .has-subheader {
  top: 88px !important;
}

/*MODAL POPOVER*/
.transparent {
/*    background: transparent !important;*/
    background-color: rgba(0,0,0,0.7);
}

.fullscreen-image {
    max-width: 400px;
    max-height: 400px;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: auto;
    position: fixed;
    right: 0;
    top: 0;
}

.zoom-img{
}

/*scale in animation for modal*/
.scale-in {
	-webkit-transform: scale(0.0);
  	transform: scale(0.0);
  	opacity: 0;
}
.scale-in.ng-enter,
.scale-in > .ng-enter {
	-webkit-transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
 	transition: all cubic-bezier(.1, .7, .1, 1) 400ms;
}
.scale-in.ng-enter-active,
.scale-in > .ng-enter-active {
	-webkit-transform: scale(1);
 	transform: scale(1);
	opacity: 1;
}
.scale-in.ng-leave,
.scale-in > .ng-leave {
	-webkit-transition: all ease-in-out 250ms;
 	transition: all ease-in-out 250ms;
}
